* {
  font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background: url(img/wallpaper-2.jpg) no-repeat;
  color: #333;
  background-size: cover;
}

h3 {
  font-size: 30px;
  margin: 0;
  line-height: 2em;
  font-weight: normal;
}

h4 {
  font-size: 24px;
  margin: 0;
  line-height: 1.5em;
}

h5 {
  font-size: 20px;
  margin: 0;
  line-height: 1.5em;
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 1.5em;
}

.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 15%;
}

header {
  text-align: center;
  width: 100%;
}

header img {
  width: 20%;
  border-radius: 50%;
  border: 5px solid rgb(102, 60, 150);
  margin: 30px;
}

header h1 {
  color: rgb(177, 135, 226);
  text-transform: capitalize;
  text-shadow: 1px 1px #000;
  font-weight: bold;
  font-size: 40px;
}

header h1::before {
  border-top: 2px solid rgb(102, 60, 150);
  width: 10%;
  margin: 0 auto;
  padding-top: 50px;
  display: block;
  content: "";
}

header h2 {
  color: #333;
  font-size: 40px;
}

section#bio {
  background: white;
  width: 44%;
  float: left;
  padding: 2%;
  min-height: 270px;
}

#bio h3,
#languages h3,
#contact h3 {
  color: rgb(177, 135, 226);
}

section#skills {
  background: rgb(102, 60, 150);
  float: right;
  width: 44%;
  padding: 2%;
  min-height: 270px;
}

#skills h3 {
  color: #eee;
}

#skills li {
  color: #eee;
}

section#education {
  background: rgb(102, 60, 150);
  margin: 4% 0;
  float: left;
  width: 60%;
  padding: 2%;
  min-height: 270px;
}

#education h3 {
  color: #eee;
}

#education h4 {
  color: rgb(177, 135, 226);
}

h5 span.date {
  margin-left: 10%;
}

#education h5 {
  color: #eee;
}

#education p {
  color: #eee;
}

section#languages {
  background: white;
  float: right;
  min-height: 200px;
  padding: 2%;
  margin-top: 4%;
  width: 28%;
  min-height: 270px;
}

section#contact {
  background: white;
  float: left;
  padding: 2%;
  width: 28%;
  min-height: 270px;
}

section#experience {
  background: rgb(102, 60, 150);
  float: right;
  width: 60%;
  padding: 2%;
  min-height: 270px;
}

#experience h3 {
  color: #eee;
}

#experience h4 {
  color: rgb(177, 135, 226);
}

#experience h5 {
  color: #eee;
}

#experience p {
  color: #eee;
}

section:nth-child(odd) {
  content: "";
  display: block;
  clear: both;
}

main::after {
  display: block;
  clear: both;
  content: "";
}

footer {
  width: 30%;
  text-align: center;
  margin: 60px 35%;
}

footer .copyright {
  color: #333;
  margin-bottom: 15px;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a .fa-facebook {
  color: #3b5998;
}

footer ul li a .fa-google {
  color: #ea4335;
}

footer ul li a .fa-twitter {
  color: #1da1f2;
}

footer ul li a .fa-dribbble {
  color: #ea4c89;
}

footer ul li a .fa-github {
  color: white;
}

footer ul li a .fa-behance {
  color: gray;
}
