* {
  font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background: url(img/tm-bg-slide-1.jpg) no-repeat;
}
.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 15%;
}

header {
  text-align: center;
  width: 100%;
}

header img {
  width: 20%;
  border-radius: 50%;
  border: 5px solid rgb(102, 60, 150);
  margin: 30px;
}

header h1 {
  color: rgb(177, 135, 226);
  text-transform: capitalize;
  text-shadow: 1px 1px #000;
  font-weight: bold;
  font-size: 40px;
}

header h1::before {
  border-top: 2px solid rgb(102, 60, 150);
  width: 10%;
  margin: 0 auto;
  padding-top: 50px;
  display: block;
  content: "";
}

header h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

section#bio {
  background: white;
  width: 44%;
  float: left;
  padding: 2%;
}

section#skills {
  background: rgb(177, 135, 226);
  float: right;
  width: 44%;
  padding: 2%;
}

section:nth-child(odd) {
  content: "";
  display: block;
  clear: both;
}
/*
.block1::after {
  content: "";
  display: block;
  clear: both;
}
*/
